# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.python-version

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.coverage
.pytest_cache/

# Environments
.env
.venv
env/
venv/

# Poetry
poetry.lock

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/
.vscode/launch.json

# Cursor
.cursor

# Data
dataset/
dataset_360
dataset_maior
datasets_test/
other_backgrounds
.vscode
datasets_fanta
models
processed_single_object_dataset
base_dataset.yolov8
runs